.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 20%;
    padding: 5px;
    margin: 5px;
    transition-duration: 0.2s;
    text-decoration: none;
}

.productCard__image {
    height: 225px;
    width: 100%;
    object-fit: contain;
}

.productCard__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.productCard:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition-duration: 0.2s;
}

.productCard__msrp {
    font-weight: 700;
}