.login {
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__card {
    border: 1px solid red;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: grey;
}

.login__card footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}